Repository AAEmu/AAEmu, pull requests merged in 2023-11, with the labels that each got.

#775 [Game] Fix Quest taking too many item on complete
  AAEmu.Game/Models/Game/Quests/Acts/QuestActObjItemGather.cs
Labels: bug, quest

#776 [Game] Feature/tradepacks and slaves part 3
  AAEmu.Game/AAEmu.Game.csproj
  AAEmu.Game/Core/Managers/FishSchoolManager.cs
  AAEmu.Game/Core/Managers/HousingManager.cs
  AAEmu.Game/Core/Managers/MateManager.cs
  AAEmu.Game/Core/Managers/RadarManager.cs
  AAEmu.Game/Core/Managers/SkillManager.cs
  AAEmu.Game/Core/Managers/SlaveManager.cs
  AAEmu.Game/Core/Managers/TransferManager.cs
  AAEmu.Game/Core/Managers/TransferTelescopeManager.cs
  AAEmu.Game/Core/Managers/World/BoatPhysicsManager.cs
  AAEmu.Game/Core/Network/Connections/GameConnection.cs
  AAEmu.Game/Core/Packets/C2G/CSResurrectCharacterPacket.cs
  AAEmu.Game/Core/Packets/G2C/SCSchoolOfFishDoodadsPacket.cs
  AAEmu.Game/Core/Packets/G2C/SCTelescopeToggledPacket.cs
  AAEmu.Game/Core/Packets/G2C/SCTelescopeUnitsPacket.cs
  AAEmu.Game/Core/Packets/G2C/SCUnitHealedPacket.cs
  AAEmu.Game/Data/housing_bindings.json
  AAEmu.Game/Data/slave_attach_points.json
  AAEmu.Game/GameService.cs
  AAEmu.Game/Models/Game/AI/v2/Behaviors/Common/ReturnStateBehavior.cs
  AAEmu.Game/Models/Game/Char/Character.cs
  AAEmu.Game/Models/Game/Char/CharacterCombat.cs
  AAEmu.Game/Models/Game/Char/CharacterCraft.cs
  AAEmu.Game/Models/Game/Char/CharacterMates.cs
  AAEmu.Game/Models/Game/DoodadObj/Doodad.cs
  AAEmu.Game/Models/Game/DoodadObj/DoodadFunc.cs
  AAEmu.Game/Models/Game/DoodadObj/Funcs/DoodadFuncFakeUse.cs
  AAEmu.Game/Models/Game/DoodadObj/Funcs/DoodadFuncZoneReact.cs
  AAEmu.Game/Models/Game/DoodadObj/Static/DoodadFuncPermission.cs
  AAEmu.Game/Models/Game/Housing/House.cs
  AAEmu.Game/Models/Game/Skills/Effects/HealEffect.cs
  AAEmu.Game/Models/Game/Skills/Effects/RepairSlaveEffect.cs
  AAEmu.Game/Models/Game/Skills/Effects/RestoreManaEffect.cs
  AAEmu.Game/Models/Game/Skills/Effects/SpecialEffects/EscapeMySlave.cs
  AAEmu.Game/Models/Game/Skills/Skill.cs
  AAEmu.Game/Models/Game/Skills/Static/HealHitType.cs
  AAEmu.Game/Models/Game/Skills/Static/HealType.cs
  AAEmu.Game/Models/Game/Skills/Templates/BuffTemplate.cs
  AAEmu.Game/Models/Game/Slaves/SlaveModelAttachPoint.cs
  AAEmu.Game/Models/Game/Slaves/SlaveTemplate.cs
  AAEmu.Game/Models/Game/TelescopeRegistrationEntry.cs
  AAEmu.Game/Models/Game/Units/Buffs.cs
  AAEmu.Game/Models/Game/Units/Mate.cs
  AAEmu.Game/Models/Game/Units/Slave.cs
  AAEmu.Game/Models/Game/Units/Transfer.cs
  AAEmu.Game/Models/Game/Units/Unit.cs
  AAEmu.Game/Models/Game/World/Transform/PositionAndRotation.cs
  AAEmu.Game/Models/Game/World/Transform/WorldSpawnPosition.cs
  AAEmu.Game/Models/Tasks/FishSchools/FishFinderTickTask.cs
  AAEmu.Game/Models/Tasks/FishSchools/FishSchoolsTask.cs
  AAEmu.Game/Models/Tasks/Telescopes/TransferTelescopeTickStartTask.cs
  AAEmu.Game/Models/Tasks/UnitPointsRegenTask.cs
  AAEmu.Game/Scripts/Commands/Heal.cs
  AAEmu.Game/Scripts/Commands/Revive.cs
  AAEmu.Game/Utils/Scripts/SubCommands/FishFinder/FishFinderSetSubCommand.cs
Labels: bug, missing functionality, skill, missing data

#784 [Game] Fix - Doodad Area Trigger OnDelete
  AAEmu.Game/Core/Managers/World/AreaTriggerManager.cs
  AAEmu.Game/Models/Game/DoodadObj/Doodad.cs
  AAEmu.Game/Models/Game/Skills/Effects/SpecialEffects/RemoveDoodad.cs
  AAEmu.Game/Models/Game/World/AreaTrigger.cs
  AAEmu.Game/Models/Tasks/Doodads/DoodadFuncCloutTask.cs
Labels: bug

#763 AAEmu port to .Net 8
  .github/workflows/dotnetcore.yml
  AAEmu.Commons/AAEmu.Commons.csproj
  AAEmu.Game/AAEmu.Game.csproj
  AAEmu.Game/Core/Managers/FormulaManager.cs
  AAEmu.IntegrationTests/AAEmu.IntegrationTests.csproj
  AAEmu.Login/AAEmu.Login.csproj
  AAEmu.Login/Program.cs
  AAEmu.Login/README.md
  AAEmu.Login/Utils/IdManager.cs
  AAEmu.UnitTests/AAEmu.UnitTests.csproj
Labels: update, ready to merge
